/* 2021 Jan Provaznik (provaznik@optics.upol.cz)
 *
 * Uses the reset.css library.
 */

* {
  box-sizing: border-box;
}

/* Shared elements. */

button {
  padding: 1em 1.5em;

  font-weight: 600;
  font-family: sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;

  color: #fff;
  background: #33C3F0;
  border: none;
  border-radius: 5px;
}

button:hover {
  color: #fff;
  background: #776b98;
}

button:disabled, 
button.highlight:disabled,
button.highlight:disabled:hover {
  color: #666;
  background: #ccc;
}

button.highlight {
  background: #f7c200;
}

button.highlight:hover {
  background: #d47304;
}

/* Layout utilities */

.row {
  display: flex;
  flex-direction: row;
}

.row.apart {
  justify-content: space-between;
}

.row.together {
  justify-content: flex-start;
}

.column {
  padding: 1rem;
  width: 100%;
}

.column + .column {
  margin-left: 0.5rem;
}

/* Column definitions. */

.column.control {
  flex: 1 1 33%;
}

.column.results {
  flex: 1 1 66%;
}

/* Individual records in .results wrapper */

.results pre {
  padding: 0.5rem;

  white-space: pre-wrap;
  font-family: monospace;
  line-height: 110%;
}

.results pre.failed {
  user-select: none;
  background: #f7c200 !important;
}

.results pre:nth-child(odd) {
  background: #efefef;
}

.results pre:nth-child(even) {
  background: #e4f4ff;
}

.results pre + pre {
  margin-top: 0.5rem
}

.results .buttons {
  margin-bottom: 1rem;
}

.results .buttons * + * {
  margin-left: 1rem;
}

/* Controls in .controls wrapper */

.control textarea {
  padding: 0.5rem;
  margin-bottom: 1rem;

  width: 100%;
  min-height: 75vh;

  border: 1px solid #ccc;
  border-radius: 5px;

  font-family: monospace;
  line-height: 110%;
}

.control textarea:focus {
  border: 1px solid #333;
  outline: none !important;
}

.control .loading {
  background: url('assets/ghost.gif');
  background-size: contain;
  width: 48px;
  height: 48px;
}

/* Header of the site. */

.header {
  padding: 1rem;
  padding-bottom: 0;

  font-family: sans-serif;
}

.header h1 {
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.header p {
  padding-top: 1rem;
}

.header a {
  color: #33C3F0;
}

.header a:hover {
  color: #776b98;
}

